[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
awesome-slugify = "*"
pyzipper = "*"
requests = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3"
